body.transparent{
    background: transparent !important;
}

.setting{
    margin-top: 10px;
}

.input-group-addon{
    width: 100%;
    color: #000 !important;
    font-weight: bolder !important;
    text-align: left !important;
}

button.active{
    background: #0277BD !important;
    color: #fff !important;
    font-weight: bolder !important;
}

button{
    outline: none !important;
}