#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/simplet-indicator-gmusic/resources/app/res/images/gmusic_dark_desktop.png
Name[en_US]=GMusic
Exec=/opt/simplet-indicator-gmusic/GMusic --enable-transparent-visuals --disable-gpu
Comment[en_US]=Simplet Indicator GMusic
Name=GMusic
Comment=Simplet Indicator GMusic
Icon=/opt/simplet-indicator-gmusic/resources/app/res/images/gmusic_dark_desktop.png
